h1 {
  background-color: slategray;
  text-align: center;
  font-weight: bold;
  color: white;
  padding: 15px 20px 15px 20px;
}

.search-bar-header {
  font-size: 22px;
  font-weight: bold;

}

.form-control {
  padding: 10px 20px 10px 20px;
}

#search-bar {
  max-width: "4";
}

#left-box {
  background-color: lightgray;
  padding: 10px;
}
